{% extends "uwuifier/layout.html" %}
{% load static %}

{% block script %}
<script src="{% static 'uwuifier/script.js' %}"></script>
{% endblock %}

{% block body %}

<div class="align-middle">
  <div class="text-center">
    <h1>vewy exciting fwee to use text uwuifia!</h1>
    <h3 id="smiley">{{ smiley }}</h3>
  </div>

  <form action="{% url "uwuifier:index" %}" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
      <textarea autofocus class="form-control" type="textarea" name="t" placeholder="{{ placeholder }}">{{ text }}</textarea>
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-lg btn-block" type="submit" value="{% if make %}{{make}}{% else %}make uwu!{% endif %}">
    </div>	
  </form>
  {% if text_uwu %}
  <div class="text-center">
    <h2>{{ result_text }}</h2>
  </div>

  <form>
    <div class="form-group">
      <textarea class="form-control" id="result" readonly>{{ text_uwu }}</textarea>
    </div>
  </form>
  <button id="copy-btn" class="btn btn-lg btn-block btn-info" onclick="copyToClipboard()">{% if copy %}{{copy}}{% else %}copy to clipboawd!{% endif %}</button>
</div>

{% endif %}
{% endblock %}
